[Unit]
Description=mqtt-unifi Daemon
After=network.target

[Service]
ExecStart=/opt/mqtt-unifi/bin/mqtt-unifi
Environment="MQTT_URL={{ unifi_mqtt_url }}"
Environment="MQTT_LOGIN={{ unifi_mqtt_login }}"
Environment="MQTT_PASSWORD={{ unifi_mqtt_password }}"
Environment="UNIFI_HOST={{ unifi_host }}"
Environment="UNIFI_USER={{ unifi_user }}"
Environment="UNIFI_PASS={{ unifi_pass }}"
Environment="UNIFI_VERSION={{ unifi_version }}"
Environment="UNIFI_PORT={{ unifi_port }}"
Environment="UNIFI_SITE_ID={{ unifi_site_id }}"
Environment="UNIFI_DELAY={{ unifi_delay }}"
Restart=always
RestartSec=5

[Install]
WantedBy=multi-user.target
